{
  "domain": "tibillet.localhost",
  "device": {
    "hostname": "phenix",
    "tokenSocket": "$a;b2yuM5454@4!cd",
    "password": "PQVot?TKFzSvjmkY",
    "front": "FOR"
  },
  "cards": [
    {
      "name": "client1",
      "tagId": "93BD3684",
      "qrcode_url": "https://demo.tibillet.re/qr/87683c94-1187-49ae-a64d-54174f6eb76d",
      "number": "87683C94"
    },
    {
      "name": "client2",
      "tagId": "41726643",
      "qrcode_url": "https://demo.tibillet.re/qr/c2b2400c-1f7e-4305-b75e-8c1db3f8d113",
      "number": "C2B2400C"
    },
    {
      "name": "clientSubscribed",
      "tagId": "????????"
    },
    {
      "name": "clientNonSubscribed",
      "tagId": "????????"
    },
    {
      "name": "primaryCard",
      "tagId": "EE144CE8",
      "qrcode_url": "https://demo.tibillet.re/qr/76dc433c-00ac-479c-93c4-b7a0710246af",
      "number": "76DC433C"
    }
  ],
  "ticketing": {
    "root": {
      "subDomain": "www",
      "rootUser": "root@root.root",
      "rootPassword": "root",
      "adminUser": "????????",
      "adminPassword": "????????",
      "iplan": "172.21.0.1"
    },
    "meta": {
      "subDomain": "agenda",
      "adminUser": "????????",
      "adminPassword": "????????"
    },
    "artiste1": {
      "subDomain": "ziskakan",
      "adminUser": "????????",
      "adminPassword": "????????"
    },
    "demo": {
      "subDomain": "demo",
      "adminUser": "????????",
      "adminPassword": "????????",
      "cashless": "demo",
      "server_cashless": "https://demo.cashless.tibillet.localhost",
      "key_cashless": ""
    },
    "billetistan": {
      "subDomain": "billetistan",
      "adminUser": "????????",
      "adminPassword": "????????",
      "cashless": "billetistan",
      "server_cashless": "https://billetistan.cashless.tibillet.localhost",
      "key_cashless": ""
    }
  },
  "cashlessServer": {
    "demo": {
      "subDomain": "demo.cashless",
      "rootUser": "RootTest",
      "rootPassword": "zohR5roov6vaeF2thunoo2Ooph8Per",
      "adminUser": "TestAdmin",
      "adminPassword": "mi5Iechi"
    },
    "billetistan": {
      "subDomain": "billetistan.cashless",
      "rootUser": "RootTest",
      "rootPassword": "zohR5roov6vaeF2thunoo2Ooph8Per",
      "adminUser": "TestAdmin",
      "adminPassword": "mi5Iechi"
    }
  },
  "emailClientReservation": "jturbeaux+test@pm.me",
  "stripeAccountId": ""
}
